button.custom_button {
    padding: 17px 50px;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    background: rgba(65, 105, 225, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
}